.block {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 50px;
}

.block__header {
  display: flex;
  align-items: flex-end;
}

.block__title {
  @include title_section;
  margin: 0;
  letter-spacing: $ls_16;
}

.block__link {
  @include font(0.7, 1.2, 700, 1);
  position: relative;
  align-self: flex-end;
  bottom: -1px;
  margin-right: 70px;
  margin-left: 2%;
  line-height: 1.2;
  letter-spacing: $ls_2;
  transition: $transition;
}

.block__link--bestsellers {
  margin-left: 2.9%;
}

.block__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5%;
  padding-top: 50px;
  padding-bottom: 52px;
}

.block__special {
  grid-column: span 3;
  max-width: 263px;
}

.block__swiper {
  grid-column: 4 / last;
  margin-left: 1%;
  overflow: hidden;
}

.block__buttons {
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 5;
}

.block--news {
  padding-bottom: 17px;
  background-image: linear-gradient($white 52.3%, $background 52.3%);

  @-moz-document url-prefix() {
    background-image: linear-gradient($white 56%, $background 56%);
  }

  .block__header {
    margin-bottom: 66px;
  }

  .block__swiper {
    position: relative;
    margin-left: 0;
    padding-bottom: 30px;
  }

  .block__buttons {
    right: 0;
    top: 2px;
  }
}

.block--bestsellers,
.block--novelty {
  .block__swiper {
    padding: 30px 0;
  }

  .block__list {
    width: 102%;
    padding: 0 1%;
    margin: 0 -1%;
  }

  .block__inner {
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .block__special {
    margin: 30px 0;
  }
}
